.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f4f5f7;
    -fx-font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.page-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.btn-primary {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-padding: 7 15 7 15;
}

.custom-table {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #e2e8f0;
}

.unit-label {
    -fx-background-color: #eeeeee;
    -fx-border-color: #c7c7c7;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;

    -fx-padding: 6px 9px;

    -fx-text-fill: #555555;
    -fx-font-size: 12px;
}

.section-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
}

.additional-info-box {
    -fx-background-color: white;
    -fx-border-color: #d5d5d5;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 15px;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0, 0, 0, 0.15),
        8,
        0.2,
        0,
        2
    );
}