.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f4f5f7;
    -fx-font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.page-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.btn-primary {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-padding: 7 15 7 15;
}

.custom-table {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #e2e8f0;
}

.section-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
}

.additional-info-box {
    -fx-background-color: white;
    -fx-border-color: #d5d5d5;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 15px;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0, 0, 0, 0.15),
        8,
        0.2,
        0,
        2
    );
}

/*.icon-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
}

.edit-button {
    -fx-background-image: url('Pencil-Icon.png');
}

.details-button {
    -fx-background-image: url('icons-rubbish.png');
}*/

.table-view {
    -fx-table-cell-border-color: #dcdcdc; 
}

.table-view .table-cell {
    -fx-border-color: transparent #dcdcdc #dcdcdc transparent; 
    -fx-padding: 0.5em;
}

.table-row-cell:filled:selected {
    -fx-background-color: #0096C9;
}

.table-row-cell:filled:hover {
    -fx-background-color: #eaf4fc;
}

